<?xml version="1.0" ?>
<robot name="aaly" xmlns:xacro="http://ros.org/wiki/xacro">

  <joint name="fixed" type="fixed">
      <parent link="world"/>
      <child link="track_creator__base_link"/>
  </joint>
  <joint name="track_creator__j1" type="continuous">
    <parent link="track_creator__base_link"/>
    <child link="track_creator__motor1"/>
    <origin rpy="0 0 0" xyz="-0.107 0 0.12427"/>
    <axis xyz="1 0 0"/>
    <limit effort="0" lower="0" upper="0" velocity="0"/>
  </joint>
  <joint name="track_creator__Left_Track_Side_joint" type="fixed">
    <parent link="track_creator__base_link"/>
    <child link="track_creator__Left_Side_Track_Support"/>
    <origin rpy="0 0 0" xyz="-0.01373 -0.15812 0.06562"/>
    <axis xyz="0 0 0"/>
    <limit effort="0" lower="0" upper="0" velocity="0"/>
  </joint>
  <joint name="track_creator__Right_Track_Side_joint" type="fixed">
    <parent link="track_creator__base_link"/>
    <child link="track_creator__Right_Side_Track_Support"/>
    <origin rpy="0 0 0" xyz="-0.01373 0.15812 0.07062"/>
    <axis xyz="0 0 0"/>
    <limit effort="0" lower="0" upper="0" velocity="0"/>
  </joint>
  <joint name="track_creator__drum_joint1" type="fixed">
    <parent link="track_creator__Left_Side_Track_Support"/>
    <child link="track_creator__drum1"/>
    <origin rpy="1.57079 0 0" xyz="-0.1091 -0.038 -0.03562"/>
    <axis xyz="0 0 -1"/>
    <limit effort="0" lower="0" upper="0" velocity="0"/>
  </joint>
  <joint name="track_creator__drum_joint2" type="fixed">
    <parent link="track_creator__Right_Side_Track_Support"/>
    <child link="track_creator__drum2"/>
    <origin rpy="1.57079 0 0" xyz="-0.1091 0.038 -0.04062"/>
    <axis xyz="0 0 -1"/>
    <limit effort="0" lower="0" upper="0" velocity="0"/>
  </joint>
  <joint name="track_creator__drum_joint3" type="fixed">
    <parent link="track_creator__Left_Side_Track_Support"/>
    <child link="track_creator__drum3"/>
    <origin rpy="1.57079 0 0" xyz="0.13857 -0.038 -0.028"/>
    <axis xyz="0 0 -1"/>
    <limit effort="0" lower="0" upper="0" velocity="0"/>
  </joint>
  <joint name="track_creator__drum_joint4" type="fixed">
    <parent link="track_creator__Right_Side_Track_Support"/>
    <child link="track_creator__drum4"/>
    <origin rpy="1.57079 0 0" xyz="0.13857 0.038 -0.033"/>
    <axis xyz="0 0 -1"/>
    <limit effort="0" lower="0" upper="0" velocity="0"/>
  </joint>
  <joint name="track_creator__drum_joint5" type="fixed">
    <parent link="track_creator__Left_Side_Track_Support"/>
    <child link="track_creator__drum5"/>
    <origin rpy="1.57079 0 0" xyz="-0.03231 -0.038 0.08871"/>
    <axis xyz="0 0 -1"/>
    <limit effort="0" lower="0" upper="0" velocity="0"/>
  </joint>
  <joint name="track_creator__drum_joint6" type="fixed">
    <parent link="track_creator__Right_Side_Track_Support"/>
    <child link="track_creator__drum6"/>
    <origin rpy="1.57079 0 0" xyz="-0.03231 0.038 0.08371"/>
    <axis xyz="0 0 -1"/>
    <limit effort="0" lower="0" upper="0" velocity="0"/>
  </joint>
  <joint name="track_creator__Left_Side_Track_Cover_joint" type="fixed">
    <parent link="track_creator__Left_Side_Track_Support"/>
    <child link="track_creator__Left_Side_Track_Cover"/>
    <origin rpy="0 0 0" xyz="0.00029 -0.07299 -0.00449"/>
    <axis xyz="0 0 0"/>
    <limit effort="0" lower="0" upper="0" velocity="0"/>
  </joint>
  <joint name="track_creator__Right_Side_Track_Cover_joint" type="fixed">
    <parent link="track_creator__Right_Side_Track_Support"/>
    <child link="track_creator__Right_Side_Track_Cover"/>
    <origin rpy="0 0 0" xyz="0.00029 0.07299 -0.0095"/>
    <axis xyz="0 0 0"/>
    <limit effort="0" lower="0" upper="0" velocity="0"/>
  </joint>

  <!-- Used for fixing robot to Gazebo 'base_link' -->
  <link name="world"/>

  <link name="track_creator__base_link">
    <inertial>
      <mass value="0.36"/>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <inertia ixx="0.0028086383999999997" ixy="0.0" ixz="0.0" iyy="4.3094400000000005e-05" iyz="0.0" izz="0.0028086383999999997"/>
    </inertial>
    <collision name="track_creator__base_link_collision">
      <origin rpy="0 0 0" xyz="-0.07 0 0.12427"/>
      <geometry>
        <box size="0.026988 0.3000 0.026988"/>
      </geometry>
    </collision>
    <visual name="track_creator__base_link_visual">
      <origin rpy="0 0 0" xyz="-0.07 0 0.12427"/>
      <geometry>
        <mesh filename="package://aaly_urdf/meshes/Horizontal_Support_Bar_ASB-512.dae" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
  </link>
  <link name="track_creator__motor1">
    <inertial>
      <mass value="0.055"/>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <inertia ixx="1.8791666666e-05" ixy="0.0" ixz="0.0" iyy="1.7086666666e-05" iyz="0.0" izz="1.2026666666e-05"/>
    </inertial>
    <collision name="track_creator__motor1_collision">
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <box size="0.04 0.032 0.050"/>
      </geometry>
    </collision>
    <visual name="track_creator__motor1_visual">
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://aaly_urdf/meshes/AX12-A_origin_same_as_center_of_mass.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
  </link>
  <link name="track_creator__Left_Side_Track_Support">
    <inertial>
      <mass value="0.05"/>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
    <collision name="track_creator__Left_Side_Track_Support_collision">
      <origin rpy="0 0 0" xyz="0 0 0.015"/>
      <geometry>
        <mesh filename="package://aaly_urdf/meshes/Track_Support_Collision_Mesh.dae" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <visual name="track_creator__Left_Side_Track_Support_visual">
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://aaly_urdf/meshes/Track_Support_Left_Side.dae" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
  </link>
  <link name="track_creator__Right_Side_Track_Support">
    <inertial>
      <mass value="0.05"/>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
    <collision name="track_creator__Right_Side_Track_Support_collision">
      <origin rpy="0 0 0" xyz="0 0 0.015"/>
      <geometry>
        <mesh filename="package://aaly_urdf/meshes/Track_Support_Collision_Mesh.dae" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <visual name="track_creator__Left_Side_Track_Support_visual">
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://aaly_urdf/meshes/Track_Support_Right_Side.dae" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
  </link>
  <link name="track_creator__drum1">
    <inertial>
      <mass value="0.1"/>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <inertia ixx="4.0003370625000006e-05" ixy="0.0" ixz="0.0" iyy="4.0003370625000006e-05" iyz="0.0" izz="3.624778125000001e-05"/>
    </inertial>
    <collision name="track_creator__drum1_collision">
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <cylinder length="0.05124" radius="0.026525"/>
      </geometry>
    </collision>
    <visual name="track_creator__drum1_visual">
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://aaly_urdf/meshes/Lynx_Sproket6in_Hub13.dae" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
  </link>
  <link name="track_creator__drum2">
    <inertial>
      <mass value="0.1"/>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <inertia ixx="4.0003370625000006e-05" ixy="0.0" ixz="0.0" iyy="4.0003370625000006e-05" iyz="0.0" izz="3.624778125000001e-05"/>
    </inertial>
    <collision name="track_creator__drum2_collision">
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <cylinder length="0.05124" radius="0.026525"/>
      </geometry>
    </collision>
    <visual name="track_creator__drum2_visual">
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://aaly_urdf/meshes/Lynx_Sproket6in_Hub13.dae" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
  </link>
  <link name="track_creator__drum3">
    <inertial>
      <mass value="0.15"/>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <inertia ixx="5.5414245624999996e-05" ixy="0.0" ixz="0.0" iyy="5.5414245624999996e-05" iyz="0.0" izz="0.000100604296875"/>
    </inertial>
    <collision name="track_creator__drum3_collision">
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <cylinder length="0.05124" radius="0.035625"/>
      </geometry>
    </collision>
    <visual name="track_creator__drum3_visual">
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://aaly_urdf/meshes/Lynx_Sproket9in_Hub13.dae" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
  </link>
  <link name="track_creator__drum4">
    <inertial>
      <mass value="0.15"/>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <inertia ixx="5.5414245624999996e-05" ixy="0.0" ixz="0.0" iyy="5.5414245624999996e-05" iyz="0.0" izz="0.000100604296875"/>
    </inertial>
    <collision name="track_creator__drum4_collision">
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <cylinder length="0.05124" radius="0.035625"/>
      </geometry>
    </collision>
    <visual name="track_creator__drum4_visual">
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://aaly_urdf/meshes/Lynx_Sproket9in_Hub13.dae" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
  </link>
  <link name="track_creator__drum5">
    <inertial>
      <mass value="0.1"/>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <inertia ixx="4.0003370625000006e-05" ixy="0.0" ixz="0.0" iyy="4.0003370625000006e-05" iyz="0.0" izz="3.624778125000001e-05"/>
    </inertial>
    <collision name="track_creator__drum5_collision">
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <cylinder length="0.05124" radius="0.026525"/>
      </geometry>
    </collision>
    <visual name="track_creator__drum5_visual">
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://aaly_urdf/meshes/Lynx_Sproket6in_Hub13.dae" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
  </link>
  <link name="track_creator__drum6">
    <inertial>
      <mass value="0.1"/>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <inertia ixx="4.0003370625000006e-05" ixy="0.0" ixz="0.0" iyy="4.0003370625000006e-05" iyz="0.0" izz="3.624778125000001e-05"/>
    </inertial>
    <collision name="track_creator__drum6_collision">
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <cylinder length="0.05124" radius="0.026525"/>
      </geometry>
    </collision>
    <visual name="track_creator__drum6_visual">
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://aaly_urdf/meshes/Lynx_Sproket6in_Hub13.dae" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
  </link>
  <link name="track_creator__Left_Side_Track_Cover">
    <inertial>
      <mass value="0.05"/>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
    <collision name="track_creator__Left_Side_Track_Cover_collision">
      <origin rpy="0 0 0" xyz="0 0 0.015"/>
      <geometry>
        <mesh filename="package://aaly_urdf/meshes/Track_Support_Collision_Mesh.dae" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <visual name="track_creator__Left_Side_Track_Cover_visual">
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://aaly_urdf/meshes/Track_Support_Cover_Side.dae" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
  </link>
  <link name="track_creator__Right_Side_Track_Cover">
    <inertial>
      <mass value="0.05"/>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
    <collision name="track_creator__Right_Side_Track_Cover_collision">
      <origin rpy="0 0 0" xyz="0 0 0.015"/>
      <geometry>
        <mesh filename="package://aaly_urdf/meshes/Track_Support_Collision_Mesh.dae" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <visual name="track_creator__Right_Side_Track_Cover_visual">
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://aaly_urdf/meshes/Track_Support_Cover_Side.dae" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
  </link>



    <!-- Replaced Gazebo's differential drive plugin with the
         ROS-friendly variant -->

  <!-- Gazebo plugin for ROS Control -->

    <gazebo>
      <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
        <robotNamespace></robotNamespace>
        <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
      </plugin>

      <plugin name='differential_drive_controller'
              filename='libgazebo_ros_diff_drive.so'>
        <alwaysOn>true</alwaysOn>
        <updateRate>100</updateRate>
        <leftJoint>track_creator__drum_joint5</leftJoint>
        <rightJoint>track_creator__drum_joint6</rightJoint>
        <wheelSeparation>0.349</wheelSeparation>
        <wheelDiameter>0.05885</wheelDiameter>
        <torque>20</torque>
        <commandTopic>cmd_vel</commandTopic>
        <odometryTopic>odom</odometryTopic>
        <odometryFrame>odom</odometryFrame>
        <robotBaseFrame>chassis</robotBaseFrame>
      </plugin>

    </gazebo>

  <transmission name="tran1">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="track_creator__j1">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="track_creator__motor1">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>

</robot>
