<launch>

      <arg name="model"  default="$(find aaly_urdf)/urdf/base.urdf"/>

      <arg name="paused" value="false"/>
      <arg name="use_sim_time" value="true"/>
      <arg name="gui" value="true"/>
      <arg name="recording" value="false"/>
      <arg name="debug" value="false"/>
      <arg name="headless" default="false"/>
      <arg name="x" default="0"/>
      <arg name="y" default="0"/>
      <arg name="z" default="0.1"/>

      <include file="$(find gazebo_ros)/launch/empty_world.launch" >
        <arg name="world_name" value="$(find aaly_urdf)/worlds/$(arg world).world" />
        <arg name="debug" value="$(arg debug)" />
        <arg name="gui" value="$(arg gui)" />
        <arg name="paused" value="$(arg paused)"/>
        <arg name="use_sim_time" value="$(arg use_sim_time)"/>
        <arg name="headless" value="$(arg headless)"/>
      </include>  

      <param name="robot_description" textfile="$(find aaly_urdf)/urdf/base.urdf" />

      <node name="base_spawn" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
          args="-urdf -param robot_description -model track_creator -x $(arg x) -y $(arg y) -z $(arg z)" />

</launch>