<launch>

      <arg name="model"  default="$(find aaly_urdf)/urdf/base_sdf3.urdf.xacro"/>
      
      <param name="robot_description" command="$(find xacro)/xacro --inorder $(arg model)"  /> 
      
      <param name="robot_description_sdf" textfile="$(find aaly_urdf)/urdf/base.sdf"  /> 

      <arg name="paused" value="true"/>
      <arg name="use_sim_time" value="true"/>
      <arg name="gui" value="true"/>
      <arg name="recording" value="false"/>
      <arg name="debug" value="false"/>
      <arg name="headless" default="false"/>
      <arg name="x" default="0"/>
      <arg name="y" default="0"/>
      <arg name="z" default="0"/>
      <arg name="world" default="ground" />

      <include file="$(find gazebo_ros)/launch/empty_world.launch" >
        <arg name="world_name" value="$(find aaly_urdf)/worlds/$(arg world).world" />
        <arg name="debug" value="$(arg debug)" />
        <arg name="gui" value="$(arg gui)" />
        <arg name="paused" value="$(arg paused)"/>
        <arg name="use_sim_time" value="$(arg use_sim_time)"/>
        <arg name="headless" value="$(arg headless)"/>
      </include>  

      <node name="aaly_urdf_spawner" pkg="gazebo_ros" type="spawn_model" output="screen" 
        args="-sdf -param robot_description_sdf -model aaly -x $(arg x) -y $(arg y) -z $(arg z)" >
      </node> 

      <rosparam file="$(find aaly_urdf)/config/config_sdf.yaml" 
        command="load" />

      <rosparam file="$(find aaly_urdf)/config/my_diff_drive.yaml" 
        command="load" />

      <!-- load the controllers -->
      <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="/aaly_robot" args="joint_state_controller
                          mobile_base_controller
                          legs_group_controller" >
            <param name="use_gui" value="TRUE"/>
      </node> 

      <node name="rqt_robot_steering" pkg="rqt_robot_steering" type="rqt_robot_steering">
        <param name="default_topic" value="/aaly_robot/cmd_vel"/>
      </node>             

</launch>