<launch>

      <arg name="model"  default="$(find aaly_urdf)/urdf/base.urdf.xacro"/>

      <arg name="rvizconfig" default="$(find aaly_urdf)/rviz/urdf.rviz" />

      <include file="$(find aaly_urdf)/launch/aaly_gazebo.launch">
        <arg name="model" value="$(arg model)" />
      </include>

      <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" />

      <rosparam file="$(find aaly_urdf)/config/config.yaml" command="load" />

      <!-- load the controllers -->
      <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
        output="screen" args="joint_state_controller
                          joint1_position_controller" >
      </node>

      <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" >
            <param name="use_gui" value="TRUE"/>
      </node>

</launch>