<launch>
      <arg name="model"  default="$(find aaly_urdf)/urdf/base.urdf.xacro"/>

      <arg name="rvizconfig" default="$(find aaly_urdf)/rviz/urdf.rviz" />
      
      <param name="robot_description" command="$(find xacro)/xacro --inorder $(arg model)"  /> 

      <include file="$(find aaly_urdf)/launch/aaly_gazebo.launch">
        <arg name="model" value="$(arg model)" />
      </include>

      <node pkg="robot_state_publisher" type="robot_state_publisher"  name="robot_state_publisher">
        <param name="publish_frequency" type="double" value="30.0" />
        <remap from="joint_state" to="/aaly_robot/joint_states" />
      </node> 


      <rosparam file="$(find aaly_urdf)/config/config.yaml" 
        command="load" />

      <!-- load the controllers -->
      <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="/aaly_robot" args="joint_state_controller
                          joint1_position_controller" >
            <param name="use_gui" value="TRUE"/>
      </node>  


</launch>